<!doctype html>
<html lang="en">

<head>
  {{>links}}
</head>

<body>
  {{>header}}

  {{>adminAside}}
  <div class="content">

    <!--  Main heading  -->
    <div class="container">
      <header>
        <h1>Welcome Admin</h1>
        <span>Get an overview of your Category</span>
      </header>
    </div>

    {{#if success}}
    <div class="alert alert-success alert-dismissible successAlert" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <i class="fa fa-times"></i>
      </button>
      <strong>Success !</strong>{{success}}
    </div>
    {{/if}}

    <button class="btn btn-outline-primary" style="margin-left:130px;margin-top:50px" data-toggle="modal"
      data-target="#addCategory">Add new</button>
    <!-- Modal -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/Category" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="">Category Name :- </label>
                <input type="text" class="form-control" name="cname" id="cname" aria-describedby="helpId"
                  placeholder="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-left:200px">
    <form action="/Category" method="get" style="margin-left:20%">
      <input type="text" style="width: 200px;border:1px solid black" name="search" id="search" value="{{search}}">
      <button type="submit" class="btn btn-success">Search</button>
    </form>
    <a href="/Category" style="margin-left: 10px;margin-top: 7px;"><button class="btn btn-primary">All Data</button></a>
    </div>
    <br><br>
    <center>
      <table class="table col-md-10" id="tblData">
        <thead>
          <tr>
            <th>___Name___</th>
            <th>Created On</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#categorys}}
          <tr>
            <td style="display: none;" class="categoryID"> {{_id}} </td>
            <td class="category"> {{name}} </td>
            <td> {{createdOn}} </td>
            <td class="tdAction"> <a class="btn btn-outline-danger" href="/deleteCategory/{{_id}}"> Delete </a>
              <button class="btn btn-outline-warning btn-edit"> Edit </button>
              <!-- Modal -->
  </div>
  </td>
  </tr>
  {{/categorys}}
  </tbody>
  </table>
  <br>

{{!-- <div class="pagination"> --}}
  {{!-- {{#if (gt totalPages 1)}}
    {{#if (gt currentPage 1)}}
      <a href="/Category?page={{sub currentPage 1}}">Previous</a>
    {{/if}} --}}
    
    {{!-- <span>Page {{currentPage}} of {{totalPages}}</span>
    
    {{#if (lt currentPage totalPages)}}
      <a href="/Category?page={{add currentPage 1}}">Next</a>
    {{/if}} --}}
  {{!-- {{/if}}
</div> --}}

  </center>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/category.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>